name: CI/CD Pipeline


on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      # Checkout del código
      - name: Checkout code
        uses: actions/checkout@v3


      # Configurar Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'


      # Instalar dependencias
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      # Ejecutar pruebas
      - name: Run tests
        run: |
          python -m unittest discover -s . -p "test_*.py"


      # Ejecutar el script de clasificación
      - name: Run classification script
        run: python src/main.py


  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: success()
    steps:
      # Checkout del código
      - name: Checkout code
        uses: actions/checkout@v3


      # Construir la imagen Docker
      - name: Build Docker Image
        run: docker build -t classification_app .
        
      # Construir y ejecutar la imagen Docker en modo app
      - name: Run Docker Container
        run: |
          docker run --rm classification_app


      # Verificar que la ejecución fue exitosa
      - name: Verificar despliegue
        run: echo "La aplicación ha sido desplegada exitosamente y se ejecutó sin errores."

